<%- include('includes/head.ejs') %>
</head>
<!-- Includes takes an argument, includes then the path relative to the current file -->

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>